Markdown==3.4.3
requests==2.32.5
## The following requirements were added by pip freeze:
certifi==2024.12.14
charset-normalizer==3.4.4
gitdb==4.0.12
GitPython==3.1.40
idna==3.10
Pygments==2.15.1
smmap==5.0.1
urllib3==2.6.2
