<!doctype html>
<html lang="${lang}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>${title}</title>
    <meta name="description" content="Netatalk Project Website: Free and Open Source AFP file server for Unix-like systems">
    <link rel="canonical" href="${canonical_url}">
    <link rel="stylesheet" type="text/css" href="${site_base_url}css/site.css">
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 760px)" href="${site_base_url}css/mobile.css">
    <link rel="icon" type="image/x-icon" href="${site_base_url}gfx/favicon.ico">
</head>
